[data-uid="input"],
[data-uid="inputDebounce"],
[data-uid="btn"]{
  font-size: 16px;
}

[data-uid="pre"]{
  box-sizing: border-box;
  background: #ccc;
  max-height: 50vh;
  height: 50vh;
  overflow: auto;
}
